@import url(./settings.css);
@font-face {
	font-family: 'Capture';
	src: url(../res/font/Capture.ttf);
}

html, body {
	width: 100%;
	height: 100%;
	overflow: hidden;
	background: black;
	margin: 0;
	padding: 0;
}

footer{
	position: absolute;
	bottom: 0;
	right: 0;
	/* width: 100%; */
	font-family: 'Capture';
	user-select: none;
	color: rgba(45,45,45,1);
	font-size: 10px;
	font-style: italic;
	font-weight: lighter;
	text-align: right;
	padding: 5px 10px;
}

h1.title{
	font-family: 'Capture';
	font-size: 14vw;
	text-align: center;
	line-height: 1;
	margin: 0;
	color: rgba(45,45,45,1);
	letter-spacing: .5rem;
}
h1.title > span{
	overflow: hidden;
	color: #ffcc00;
	width: 100%;
	text-shadow: none;
	animation: flicker 3s linear infinite;
}

@keyframes flicker {
	0%, 19.999%, 22%, 62.999%, 64%, 64.999%, 70%, 100% {
		color: rgba(255, 204, 0, .99);
		text-shadow:
					0 -2px 8px, 
					0 0 2px, 
					0 0 5px #ff7e00, 
					0 0 15px #ff4444, 
					0 0 2px #ff7e00, 
					0 2px 3px #000;
	}
	20%, 21.999%, 63%, 63.999%, 65%, 69.999% {
		color: rgba(255, 204, 0, 0.4);
		text-shadow: none;
	}
}

canvas{
	filter: sepia(0.4) blur(0.8px);
}

section{
	position: absolute;
	top: 0;
	left: 0;
	right:0;
	display: flex;
	width: 100%;
	height: 100%;
	margin: auto;
	flex-direction: column;
    justify-content: center;
	align-items: center;
	
	/* z-index: -1; */
}

section#GameMenu, section#GameSettings{
	display: none;
	background-color: rgba(0, 0, 0, 0.5);
}

button{
	display: block;
	width: 300px;
	font-size: 2.5em;
	font-family: 'Capture';
	text-transform: uppercase;
	font-weight:lighter;
	color: rgba(255, 204, 0, 0.4);
	background-color: rgba(45,45,45,1);
	border: 1px solid black;
	border-radius: 5px;
	margin: 10px;
	box-shadow: 0 0 10px 1px black;
	transition-property: transform, color;
	transition-duration: 0.1s;
}

button:hover{
	transform: scale(1.2,1.2);
	color: rgba(255, 204, 0, .99);
	text-shadow:
					0 -2px 8px, 
					0 0 2px, 
					0 0 5px #ff7e00, 
					0 0 15px #ff4444, 
					0 0 2px #ff7e00, 
					0 2px 3px #000;
}





