@import url(./login.css);
@font-face {
	font-family: 'Capture';
	src: url(../res/font/Capture.ttf);
}
@font-face {
	font-family: 'Typewriter';
	src: url(../res/font/Typewriter.ttf);
}

html, body {
	width: 100%;
	/* height: 100%; */
	background: black;
	color: rgb(70, 70, 70);
	margin: 0;
	padding: 0;
	font-family: 'Typewriter';
}

header{
	margin: 10px;
	user-select: none;
}

footer{
	position: absolute;
	bottom: 0;
	right: 0;
	/* width: 100%; */
	font-family: 'Capture';
	user-select: none;
	color: rgba(45,45,45,1);
	font-size: 10px;
	font-style: italic;
	font-weight: lighter;
	text-align: right;
	padding: 5px 10px;
}

h2{
	font-family: 'Capture';
	font-size: max(min(5em, 7vw), 3em);
	margin: 0;
	color: rgba(255, 204, 0, 0.4);
	letter-spacing: .5rem;
	/* margin: 0 0 35px 0; */
	font-weight: 400;
	user-select: none;
	width: auto;
}

h1{
	font-family: 'Capture';
	font-size: 14vw;
	user-select: none;
	text-align: center;
	line-height: 1;
	margin: 0;
	color: rgba(45,45,45,1);
	letter-spacing: .5rem;
	font-weight: 400;
	/* filter: blur(0.8px); */
}

p{
	min-height: 1.25em;
  	line-height: 1.25;
	font-family: 'Typewriter';
}

a, em{
	text-decoration: none;
	color: rgba(255, 204, 0, 0.4);
}
a:hover, em:hover{
	color: rgba(255, 204, 0, .99);
	text-shadow:
				0 -2px 8px, 
				0 0 2px, 
				0 0 5px #ff7e00, 
				0 0 15px #ff4444, 
				0 0 2px #ff7e00, 
				0 2px 3px #000;
}

.title{
	color: rgba(45,45,45,1);
}

.title > span{
	user-select: none;
	overflow: hidden;
	color: #ffcc00;
	width: 100%;
	text-shadow: none;
	animation: flicker 3s linear infinite;
}

@keyframes flicker {
	0%, 19.999%, 22%, 62.999%, 64%, 64.999%, 70%, 100% {
		color: rgba(255, 204, 0, .99);
		text-shadow:
					0 -2px 8px, 
					0 0 2px, 
					0 0 5px #ff7e00, 
					0 0 15px #ff4444, 
					0 0 2px #ff7e00, 
					0 2px 3px #000;
	}
	20%, 21.999%, 63%, 63.999%, 65%, 69.999% {
		color: rgba(255, 204, 0, 0.4);
		text-shadow: none;
	}
}

canvas{
	position: absolute;
	top: 0;
	left: 0;
	filter: sepia(0.4) blur(0.8px);
	overflow: hidden;
}

section{
	position: absolute;
	top: 0;
	left: 0;
	right:0;
	/* user-select: none; */
	display: flex;
	width: 100%;
	height: 100%;
	margin: auto;
	flex-direction: column;
    justify-content: center;
	/* justify-content: space-between; */
	align-items: center;
	overflow: hidden;
	
	/* z-index: -1; */
}

section#GameMenu, section#GameSettings{
	display: none;
	background-color: rgba(0, 0, 0, 0.5);
}

button{
	display: block;
	width: 300px;
	font-size: 2.5em;
	font-family: 'Capture';
	user-select: none;
	text-transform: uppercase;
	font-weight:lighter;
	color: rgba(255, 204, 0, 0.4);
	background-color: rgba(45,45,45,1);
	border: 1px solid black;
	border-radius: 5px;
	margin: 10px;
	box-shadow: 0 0 10px 1px black;
	transition-property: transform, color;
	transition-duration: 0.1s;
}

button:disabled{
	color: rgb(22, 22, 22);
}

button:not(:disabled):hover{
	transform: scale(1.2,1.2);
	color: rgba(255, 204, 0, .99);
	/* animation: flicker 3s linear infinite; */
	text-shadow:
					0 -2px 8px, 
					0 0 2px, 
					0 0 5px #ff7e00, 
					0 0 15px #ff4444, 
					0 0 2px #ff7e00, 
					0 2px 3px #000;
}

section#GameSettings > div{
	display: flex;
	flex-direction: column;
    align-items: center;
	width: 800px;
	min-height: 300px;
	background-color: rgba(45,45,45,1);
	border-radius: 10px;
	margin: 90px;
	padding: 50px;
	box-shadow: 0 0 10px 1px black;
}

section#GameSettings span{
	display: inline-block;
	font-family: 'Capture';
	font-size: 2em;
	margin: 0;
	color: rgba(255, 204, 0, 0.4);
	letter-spacing: .5rem;
	vertical-align: middle;
}

span#username{
	margin: 10px;
	position: absolute;
	user-select: none;
	top: 0;
	left: 0;
	z-index: 1;
	color: rgb(70, 70, 70);
	font-weight: 700;
	letter-spacing: 2px;
}

section#GameSettings label{
	font-family: 'consolas';
	font-size: 1em;
	color: rgba(255, 204, 0, 0.4);
}

span#FPS{
	position: absolute;
	top: 25px;
	left: 25px;
	font: bold 30px 'consolas';
	text-align: center;
	color: black;
	text-shadow: 0 0 5px white;
	display: none;
	user-select: none;
	transition: text-shadow 100ms linear;
}

div.container table{
	border-collapse: collapse;
	width: 50%;
	max-width: 500px;
	text-align: center;
	margin: auto;
}

/* classifica */
div.container tr:nth-child(1) td:nth-child(1){ /*primo*/
	color:rgba(255, 204, 0, 0.70);
	text-shadow:0 -2px 8px, 0 0 2px, 0 0 5px #ff7e00, 0 0 15px #ff4444, 0 0 2px #ff7e00, 0 2px 3px #000;
}
div.container tr:nth-child(2) td:nth-child(1){ /*secondo*/
	color:rgba(204, 204, 204, 0.70);
	text-shadow:0 -2px 8px, 0 0 2px, 0 0 5px #919191, 0 0 15px #414141, 0 0 2px #919191, 0 2px 3px #000;
} 
div.container tr:nth-child(3) td:nth-child(1){ /*terzo*/
	color:rgba(136, 109, 0, 0.70);
	text-shadow:0 -2px 8px, 0 0 2px, 0 0 5px #854200, 0 0 15px #572701, 0 0 2px #854200, 0 2px 3px #000;
} 

div.container th{
	padding: 15px;
	border-bottom: 1px solid rgba(45,45,45,1);
	color: rgba(255, 204, 0, 0.4);
	font-family: 'Capture';
	font-size: 2.5em;
	letter-spacing: 1px;
	font-weight: 400;
}

div.container td{
	padding: 15px;
	border-bottom: 1px solid rgba(45,45,45,1);
	font-family: 'Typewriter';
	font-size: 1.2rem;
	text-shadow: 0 0 3px rgba(45,45,45,1);
}

div.container{
	padding-top: 100px;
	display: flex;
	flex-direction: column;
    align-items: center;
	margin: auto;
}


@media screen and (max-width: 576px){
	.container{max-width: 100%;}
}
@media screen and (min-width: 576px){
	.container{max-width: 540px;}
}
@media screen and (min-width: 768px){
	.container{max-width: 720px;}
}
@media screen and (min-width: 992px){
	.container{max-width: 960px;}
}
@media screen and (min-width: 1200px){
	.container{max-width: 1140px;}
}


.docs{
	/* background-color: rgba(255,255,255,0.5); */
	border-radius: 3px;
	width: 100%;
	white-space: pre-line;
	hyphens: auto;
	word-break: break-word;
	overflow-wrap: break-word;
	font-size: larger;
}


/* SCROLLBAR ***************************************************************/

/* firefox *******/
html{
	scrollbar-width: thin;
	scrollbar-color: rgba(255, 204, 0, 0.4) rgba(45,45,45,1);
}
/* chrome *******/
html::-webkit-scrollbar {
	width: 7px;
}
html::-webkit-scrollbar-track {
	background: rgba(45,45,45,1);
}
html::-webkit-scrollbar-thumb {
	background: rgba(255, 204, 0, 0.4);
}
html::-webkit-scrollbar-thumb:hover {
	background: #ffcc00;
	box-shadow:
					0 0 5px #ff7e00, 
					0 0 15px #ff4444, 
					0 0 2px #ff7e00, 
					0 2px 3px #000;
}
