input[type='text'], input[type='password']{
	display: block;
	width: 300px;
	font-size: 1.5em;
	font-family: 'Typewriter';
	font-weight:lighter;
	color: rgb(153, 153, 153);
	background-color: rgba(45,45,45,1);
	border: 1px solid black;
	/* border: 5px solid rgba(255, 204, 0, 0.4); */
	border-radius: 5px;
	margin: 10px;
	transition-property: transform, color;
	transition-duration: 0.1s;
	padding: 3px;
	text-decoration: none;
}

input[type='text']:focus, input[type='password']:focus {
	border: 1px solid #ffcc00;
	box-shadow: 
		0 0 5px #ff7e00, 
		0 0 15px #ff4444, 
		0 0 2px #ff7e00, 
		0 2px 3px #000;
	outline: none;
}

input[type='text']:invalid, input[type='password']:invalid{
	border: 1px solid #ff4444;
	animation-name: bounce;
  	animation-duration: .5s;
}

p{
	min-height: 1.25em;
  	line-height: 1.25;
	font-family: 'Typewriter';
	color: rgba(45,45,45,1);
}

p.error{
	color: #ff4444;
	text-shadow: 0 0 8px;
}

p.logsign > a{
	text-decoration: none;
	color: rgba(255, 204, 0, 0.4);
}
p.logsign > a:hover{
	color: rgba(255, 204, 0, .99);
	text-shadow:
				0 -2px 8px, 
				0 0 2px, 
				0 0 5px #ff7e00, 
				0 0 15px #ff4444, 
				0 0 2px #ff7e00, 
				0 2px 3px #000;
}


form{
	display: flex;
	flex-direction: column;
    align-items: center;
}

@keyframes bounce {
	0% {
		transform: translateX(0px);
		timing-function: ease-in;
	}
	37% {
		transform: translateX(5px);
		timing-function: ease-out;
	}
	55% {
		transform: translateX(-5px);
		timing-function: ease-in;
	}
	73% {
		transform: translateX(4px);
		timing-function: ease-out;
	}
	82% {
		transform: translateX(-4px);
		timing-function: ease-in;
	}
	91% {
		transform: translateX(2px);
		timing-function: ease-out;
	}
	96% {
		transform: translateX(-2px);
		timing-function: ease-in;
	}
	100% {
		transform: translateX(0px);
		timing-function: ease-in;
	}
}